<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Water Reservoir
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Enter Reservoir Capacity (liters)</label>
                    <input class="form-control" type="number" id="capacity" name="capacity" [(ngModel)]="capacity">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Enter filling speed (liters/min) </label>
                    <input class="form-control" type="number" id="fillingSpeed" name="fillingSpeed" [(ngModel)]="fillingSpeed">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Enter time of filling (hours) </label>
                    <input class="form-control" type="number" id="time" name="time" [(ngModel)]="time">
                </div>
                <button class="btn btn-success" type="button" (click)="countVolume()" [disabled]="capacity == null || fillingSpeed == null || time == null">Volume Filled</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Result
            </div>
            <div class="card-body">
                <div *ngIf="volume!=0 && volume<80" class="alert alert-success" >
                    Reservoir filled: <strong>{{ volume }} %</strong>
                </div>
                <div *ngIf="volume!=0 && volume>=80 && volume<100" class="alert alert-warning">
                    WARNING! Reservoir filled:: <strong>{{ volume }} %</strong>
                </div>
                <div *ngIf="volume!=0 && volume>=100" class="alert alert-danger">
                    DANGER! Reservoir filled: <strong>{{ volume }} %</strong>
                </div>
                <div *ngIf="volume==0" class="alert alert-info">
                Enter required fields 
                </div>
            </div>
        </div>
    </div>
</div>
